<header class="header-image">
    <div class="headline">
        <div class="container">
            <h1 class="information-title">TV Shows Project</h1>
        </div>
    </div>
</header>
<div class="container team">
    <div class="slide-heading section-title-about">About our team</div>
    <div id="about-tedi" class="slide">
        <img class="slide-image img-circle img-responsive pull-left" src="./images/tedi.jpg" alt="Teodora Nikolova"/>
        <h2 class="slide-heading text-muted">Teodora Nikolova</h2>
        <p class="lead information-text">I have a Bachelor's Degree at Information Technologies from UNIBIT. When I have time I like to travel, go to the mountains or read a book.</p>
    </div>
    <hr class="slide-divider"/>
    <div id="about-deni" class="slide">
        <img class="slide-image img-circle img-responsive pull-right" src="./images/deni.jpg" alt="Denislav Enchev"/>
        <h2 class="slide-heading text-muted">Denislav Enchev</h2>
        <p class="lead information-text">I am a student at Technical University - Sofia, Bachelor's Degree at Computer and Software Engineering. In my free time I enjoy reading books, hanging out with my friends and nevertheless - watching TV Shows.</p>
    </div>
</div>
<section class="about-container">
    <div class="container">
        <div class="row ">
            <div class="col-md-8 offset-5 text-center text-md-left">
                <div class="title-about">About us</div>
                <img class="offset-1" src="./images/responsive.png" alt="Preview of the site on different devices"/>
                <div class="project-title"><a href="/">TV Shows for YOU</a></div>
                <p class="information-text">
                    Grab your device, no matter smartphone, tablet, laptop or PC, and browse to a number of TV Shows. Find your favorites or check some new shows - it's up to you.
                    We give you actual information about all shows in out website - summary of a show, information about a season or a short description of an episode.
                    We also have a weekly schedule for you to see what shows are on this week.
                </p>
                <p class="information-text">Nevertheless, if you want you can create an account, to make reviews and discuss your favorite shows. Feel free to contact us at any time. Enjoy your TV SHOWS.</p>
            </div>
            <div class="col-xs-12 col-md-4 col-md-offset-0">
                <ol class="index-list flow-offset-3 offset-1 offset-5">
                    <li class="list-section text-center text-md-left">
                        <div class="list-heading">
                            <span class="list-icon icon-primary counter bold"><i class="fa fa-book" aria-hidden="true"></i></span>
                        </div>
                        <div class="list-content">
                            <div class="project-title">TV Shows Catalogue</div>
                            <p class="information-text">Get all information about your favorite TV Shows. Browse through the season and view every episode. See the trailer or leave a review.</p>
                        </div>
                    </li>
                    <li class="list-section text-center text-md-left">
                        <div class="list-heading">
                            <span class="list-icon icon-primary counter bold"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
                        </div>
                        <div class="list-content">
                            <div class="project-title">TV Shows Scheduler</div>
                            <p class="information-text">Are you curious what shows are now on the TV. Check our weekly schedule to track your favorite shows.</p>
                        </div>
                    </li>
                    <li class="list-section text-center text-md-left">
                        <div class="list-heading">
                            <span class="list-icon icon-primary counter bold"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                        </div>
                        <div class="list-content">
                            <div class="project-title">Personal User Profile</div>
                            <p class="information-text">Create a profile in our website, add shows to favorites or make a watchlist to keep track on every show you are watching.</p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="about-container technologies">
    <div class="text-center technologies-title">Technologies Used</div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="index-list">
                    <li class="col-xs-12 col-sm-4 list-section text-center text-md-left">
                        <div class="list-heading">
                            <span class="list-icon icon-primary counter bold"><i class="fa fa-cogs" aria-hidden="true"></i></span>
                        </div>
                        <div class="list-content">
                            <div class="project-title">Backend:</div>
                            <ul class="marked-list">
                                <li>express</li>
                                <li>mongoose</li>
                                <li>passport</li>
                                <li>passport-local</li>
                                <li>cookie-parser</li>
                                <li>express-validator</li>
                                <li>express-session</li>
                                <li>connect-mongo</li>
                                <li>bower</li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-xs-12 col-sm-4 list-section text-center text-md-left">
                        <div class="list-heading">
                            <span class="list-icon icon-primary counter bold"><i class="fa fa-television" aria-hidden="true"></i></span>
                        </div>
                        <div class="list-content">
                            <div class="project-title">Frontend:</div>
                            <ul class="marked-list">
                                <li>angular 1.6</li>
                                <li>jQuery</li>
                                <li>bootstrap</li>
                                <li>font-awesome</li>
                                <li>slick-carousel</li>
                                <li>angular-route</li>
                                <li>html</li>
                                <li>css</li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-xs-12 col-sm-4 list-section text-center text-md-left">
                        <div class="list-heading">
                            <span class="list-icon icon-primary counter bold"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
                        </div>
                        <div class="list-content">
                            <div class="project-title">Other:</div>
                            <ul class="marked-list">
                                <li>Heroku</li>
                                <li>MongoDB</li>
                                <li>mLab</li>
                                <li>Photoshop</li>
                            </ul>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>