<div class="forgotten-password-panel">
    <div class="forgotten-password-container">
        <form class="forgotten-password-form" method="POST">
            <fieldset class="main-forgotten-password">
                <div class="forgotten-password-wrapper">
                    <a href="/"><div class="logo-container"></div></a>
                    <ul class="form-fields" ng-if="!isPasswordResetTokenSent">
                        <li class="form-email">
                            <div class="fieldgroup">
                                <span class="error error-message">{{errors}}</span>
                                <input class="user-input" type="text" placeholder="Email&nbsp;address" ng-class="{error: hasError.email}" ng-model="formData.email"/>
                            </div>
                        </li>
                        <li class="button form-actions">
                            <div class="form-buttons">
                                <input class="button-primary" type="submit" value="Send token" ng-click="getResetPasswordToken()"/>
                            </div>
                            <span class="user-action-message">Not a member? <a class="action-link" href="/register">Join now</a></span>
                        </li>
                    </ul>
                    <div class="success-container" ng-if="isPasswordResetTokenSent">
                        <span class="success-message">Check your e-mail!</span>
                        <span class="success-message">A password reset link has been sent!</span>
                        <a class="success-redirect-button" href="/">Go back to homepage</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>