<section class="about-container technologies future">
    <div class="text-center future-development-title">Future development</div>
    <div class="container">
        <div class="row ">
            <div class="col-xs-12">
                <ol class="index-list">
                    <li class="col-xs-12 list-section text-center text-md-left">
                        <div class="list-heading">
                            <span class="list-icon icon-primary counter bold"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                        </div>
                        <div class="list-content">
                            <div class="project-title">For user accounts:</div>
                            <p class="lead information-text">
                                - Personal schedule for every user profile for the shows, the user has added to his watchlist.
                                <br/>
                                - Facebook, Google+ and Twitter login options.
                                <br/>
                                - Forgotten password functionality by given user e-mail.
                                <br/>
                                - Chat system.
                            </p>
                        </div>
                    </li>
                    <li class="col-xs-12 list-section text-center text-md-left">
                        <div class="list-heading">
                            <span class="list-icon icon-primary counter bold"><i class="fa fa-eye" aria-hidden="true"></i></span>
                        </div>
                        <div class="list-content">
                            <div class="project-title">Administration + UI:</div>
                            <p class="lead information-text">
                                - User interface for the administration for adding and updating TV shows data.
                                <br/>
                                - Review of messages, submitted by the website visitors.
                                <br/>
                                - User account management - ban user.
                            </p>
                        </div>
                    </li>
                    <li class="col-xs-12 list-section text-center text-md-left">
                        <div class="list-heading">
                            <span class="list-icon icon-primary counter bold"><i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                        <div class="list-content">
                            <div class="project-title">Other features:</div>
                            <p class="lead information-text">
                                - Be able to watch TV series online in our website.
                            </p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>