<div class="welcome-container">
    <img class="hello-image main-image" src="./images/welcome_image.jpg" alt="Welcome to TV-Shows"/>
    <img class="hello-image main-image-mobile" src="./images/welcome_image_mobile.jpg" alt="Welcome to TV-Shows"/>
</div>
<section class="slick-content" ng-controller="CarouselController">
    <div class="slider">
        <div ng-repeat="show in shows">
            <div class="poster-slide">
                <a href="/show/{{show._id}}"><img src="{{show.poster}}" alt="{{show.title}}"/></a>
                <div class="poster-content">
                    <h3 class="carousel-title">{{show.title}}</h3>
                    <div class="information">
                        <p class="carousel-date"><span class="u-separator">{{show.released}}</span></p>
                    </div>
                    <a class="btn button-primary" href="/show/{{show._id}}">More info</a>
                </div>
            </div>
        </div>
    </div>
</section>