<section class="newest-top-section well-md">
    <div class="container">
        <div class="text-center section-title">Newest shows just for you</div>
        <div class="row newest-top-container">
            <div class="col-md-6 col-sm-12 col-xs-12 newest-top-single-show" ng-repeat="show in newShows | limitTo: 4 : 0">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="show-poster">
                            <a href="/show/{{show._id}}"><img class="poster-image" src="{{show.poster}}" alt="{{show.title}}"/></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <h5 class="show-title"><a href="/show/{{show._id}}">{{show.title}}</a></h5>
                        <p class="show-plot">{{show.plot}}</p>
                        <time class="text-center show-release-date">{{show.released}}</time>
                        <ul class="inline-list show-stars">
                            <li ng-repeat="starClass in show.stars track by $index"><i class="fa fa-{{starClass}}" aria-hidden="true"></i></li>
                        </ul>
                        <a href="/show/{{show._id}}" class="btn btn-default btn-md">view more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="more-shows-container">
    <div class="container">
        <div class="text-center more-shows-title">More shows to watch</div>
        <div class="row more-shows-row">
            <div class="col-xs-12 col-sm-4" ng-repeat="show in newShows | limitTo: 3 : 4">
                <div>
                    <img class="show-poster" src="{{show.poster}}" alt="{{show.title}}"/>
                </div>
                <time class="text-center show-release-date">{{show.released}}</time>
                <h5 class="show-title text-center"><a href="/show/{{show._id}}">{{show.title}}</a></h5>
                <div class="show-plot-container">
                    <p class="show-plot">{{show.plot}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="other-shows-container">
    <div class="container">
        <div class="text-center more-shows-title">Other popular tv-shows</div>
        <div class="row more-shows-row">
            <div class="col-xs-6 col-sm-3" ng-repeat="show in newShows | limitTo: 4 : 7">
                <div>
                    <img class="show-poster" src="{{show.poster}}" alt="{{show.title}}"/>
                </div>
                <h5 class="show-title text-center"><a href="/show/{{show._id}}">{{show.title}}</a></h5>
                <ul class="inline-list show-stars">
                    <i class="fa fa-{{starClass}}" aria-hidden="true" ng-repeat="starClass in show.stars track by $index"></i>
                </ul>
            </div>
        </div>
    </div>
</div>