<div class="reset-password-panel" ng-controller="UsersController">
    <div class="reset-password-container">
        <form class="reset-password-form" method="POST">
            <fieldset class="main-reset-password">
                <div class="reset-password-wrapper">
                    <a href="/"><div class="logo-container"></div></a>
                    <ul class="form-fields">
                        <li class="form-password">
                            <div class="fieldgroup">
                                <span class="error error-message">{{errors.password[0]}}</span>
                                <input class="user-input" name="password" placeholder="New Password" type="password" ng-class="{error: hasError.password}" ng-model="formData.password"/>
                            </div>
                        </li>
                        <li class="form-password">
                            <div class="fieldgroup">
                                <span class="error error-message">{{errors.confirmPassword[0]}}</span>
                                <input class="user-input" name="passwordConfirm" placeholder="Confirm Password" type="password" ng-class="{error: hasError.confirmPassword}" ng-model="formData.confirmPassword"/>
                            </div>
                        </li>
                        <li class="button form-actions">
                            <div class="form-buttons">
                                <input class="button-primary" type="submit" value="Change password" ng-click="setNewPassword()"/>
                                <span class="user-action-message"> Token expired? <a class="action-link" href="/forgotten-password">Request a new one</a></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </fieldset>
        </form>
    </div>
</div>