body {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.52857;
    color: #444;
    font-weight: normal;
    background: black;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: white;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/*
* @section Page Navigation
*/

.navbar-fixed-top {
    background: #000;
    height: 70px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100001;
    box-sizing: border-box;
}

.navbar-fixed-top .topBar,
.navbar-fixed-top .bottomBar {
    background: none;
    box-shadow: none;
    width: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-fixed-top .topBar,
.navbar-fixed-top .bottom-bar {
    display: none;
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
    .navbar-fixed-top .topBar,
    .navbar-fixed-top .bottom-bar {
        display: block;
    }
    .navbar-fixed-top .mobile-nav {
        display: none;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.container:before,
.container:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}

.container:after,
.row:after {
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}


/*
* @subsection Top Navigation Menu
*/

.navbar-fixed-top .topBar {
    height: 30px;
    color: #fff;
}

@media (min-width: 992px) {
    .navbar-fixed-top .topBar {
        height: 35px;
    }
}

.navbar-fixed-top .topBar .content {
    padding-right: 40px;
}

@media (min-width: 992px) {
    .navbar-fixed-top .topBar .content {
        padding-right: 15px;
    }
}

.navbar-fixed-top .topBar .content>div {
    float: right;
}


/*
* @subsection Page Logo
*/

.navbar-fixed-top .topBar .logo {
    height: 53px;
    width: 120px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    background: darkred;
    z-index: 1100;
    margin-left: 15px;
    position: absolute;
}

@media (min-width: 992px) {
    .navbar-fixed-top .topBar .logo {
        height: 70px;
        width: 160px;
    }
}

.navbar-fixed-top .topBar .logo:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 40px 0 40px;
    border-color: darkred rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    bottom: -8px;
    left: 20px;
    position: absolute;
}

@media (min-width: 992px) {
    .navbar-fixed-top .topBar .logo:after {
        left: 40px;
    }
}

.logo a {
    display: block;
    min-height: 100%;
}

.navbar-fixed-top .topBar .logo #logo {
    transition: top 0.5s;
    position: absolute;
    max-height: 48px;
    padding-left: 5px;
    padding-top: 8px;
}

@media (min-width: 992px) {
    .navbar-fixed-top .topBar .logo #logo {
        max-height: 60px;
    }
}


/*
* @subsection Login Button
*/

.navbar-fixed-top .topBar .login,
.navbar-fixed-top .topBar .logout {
    padding-top: 0;
}

@media (min-width: 992px) {
    .navbar-fixed-top .topBar .login,
    .navbar-fixed-top .topBar .logout {
        padding-top: 4px;
    }
}

.btn-login,
.btn-logout {
    padding: 1px 0px 0 0px !important;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #00b7ba;
    border-radius: 3px;
    background: #00b7ba;
    font-weight: 700;
    color: black;
    font-size: 11px;
    width: 70px;
    line-height: 13px;
    margin-top: 7px;
    text-align: center;
    cursor: pointer;
}

@media (min-width: 992px) {
    .btn-login,
    .btn-logout {
        font-size: 12px;
        width: 95px;
        line-height: 17px;
    }
}

.btn-login:hover,
.btn-logout:hover {
    border: 1px solid #54e2cc;
    background: #54e2cc;
}


/*
* @subsection Top Menu Links
*/

.navbar-fixed-top .topBar .links {
    margin-left: 18px;
    margin-right: 3px;
}

.menu-top-menu-container {
    float: left;
    width: 100%;
    display: block;
    height: 30px;
}

@media (min-width: 992px) {
    .menu-top-menu-container {
        height: auto;
    }
}

#menu-top-menu {
    margin: 0;
    padding-top: 9px;
    display: inline-block;
    padding-bottom: 0;
}

.navbar-fixed-top .topBar .links ul {
    list-style-type: none;
    padding: 3px 0px;
}

.navbar-fixed-top .topBar .links ul li {
    padding: 0 0px;
    border: none;
    float: left;
    font-size: 11px;
    cursor: pointer;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 992px) {
    .navbar-fixed-top .topBar .links ul li {
        font-size: 16px;
    }
}

.navbar-fixed-top .topBar .links ul li:first-child a {
    padding-right: 10px;
    border: none;
}

.navbar-fixed-top .topBar .links ul li a {
    padding: 0 9px 0px 9px;
    font-size: 11px;
    line-height: 12px;
    border-left: 1px solid rgba(255, 255, 255, .6);
    display: inline-block;
    color: #fff;
}

@media (min-width: 992px) {
    .navbar-fixed-top .topBar .links ul li a {
        padding: 0 11px 0px 12px;
        font-size: 12px;
        line-height: 15px;
    }
}

.navbar-fixed-top .topBar .links ul li a:hover {
    color: #d02129;
}


/*
* @subsection Main Navigation Menu
*/

.bottom-bar {
    margin-top: 3px;
}

.navbar-fixed-top .bottom-bar .navigation-spacing {
    margin-left: 145px;
    float: right;
    height: 100%;
}

#menu-primary,
#menu-primary-mobile {
    float: left;
    padding: 0px 3px 0 0;
    list-style-type: none;
    margin-bottom: 0px;
    height: 20px;
    line-height: 14px;
}

@media (min-width: 992px) {
    #menu-primary,
    #menu-primary-mobile {
        height: 32px;
        line-height: 24px;
    }
}

#menu-primary li,
#menu-primary-mobile li {
    display: inline-block;
    list-style-type: none;
}

#menu-wrap-primary #menu-primary>li a,
#menu-wrap-primary-mobile #menu-primary-mobile>li a {
    padding: 0px 6px 0px 6px;
    line-height: 12px;
    height: 20px;
    font-size: 11px;
    width: auto;
    display: block;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "proxima-nova-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 992px) {
    #menu-wrap-primary #menu-primary>li a,
    #menu-wrap-primary-mobile #menu-primary-mobile>li a {
        padding: 0px 10px 0px 10px;
        line-height: 17px;
        height: 28px;
        font-size: 14px;
    }
}

#menu-wrap-primary #menu-primary>li a:hover {
    content: '';
    border-bottom: 4px solid darkred;
    display: block;
    position: relative;
    z-index: 999;
    width: 100%;
    color: #00d5ec;
}


/*
* @subsection Register Button
*/

.btn-get-started-nav,
.btn-subscribtions {
    background-color: darkred;
    color: #fff;
    font-size: 11px;
    line-height: 14px;
    margin-right: 14px;
    margin-top: -3px;
    width: 96px;
    font-weight: bold;
    font-family: "proxima-nova-bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 1px 0px 0px 0px;
    text-align: center;
    border: 1px solid darkred;
    border-radius: 5px;
    vertical-align: middle;
}

@media (min-width: 992px) {
    .btn-get-started-nav,
    .btn-subscribtions {
        margin-top: 0;
        font-size: 14px;
        line-height: 21px;
        width: 145px;
    }
}

.btn-get-started-nav:hover,
.btn-subscribtions:hover {
    background: firebrick;
    border: 1px solid firebrick;
}

@media (min-width: 992px) {
    .btn-get-started-nav,
    .btn-subscribtions {
        margin-right: -35px;
    }
}


/*
* @subsection Mobile Menu
*/

.navbar-fixed-top .mobile-nav {
    height: 53px;
    width: 100%;
    background: black;
}


/*
* @subsection Mobile Menu Logo
*/

.navbar-fixed-top .mobile-nav .mobile-flag {
    width: 120px;
    background: darkred;
    text-align: center;
    height: 100%;
    padding: 6px 0;
    z-index: 1000;
    position: relative;
}

@media (max-width: 992px) {
    .navbar-fixed-top {
        height: 53px;
        border: none;
    }
    .navbar-fixed-top .mobile-nav .mobile-flag {
        margin-left: 10px;
    }
    .navbar-fixed-top .mobile-nav .mobile-flag img {
        vertical-align: middle;
        height: 100%;
    }
    .navbar-fixed-top .mobile-nav .mobile-flag:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 30px 0 30px;
        border-color: darkred transparent transparent transparent;
        bottom: -8px;
        left: 31px;
        position: absolute;
    }
}


/*
* @subsection Mobile Menu Buttons
*/

#mobile-nav-btn {
    float: right;
    left: 8px;
    top: 0;
    padding: 15px 14px;
    width: 53px;
    height: 53px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
}

#mobile-nav-btn .menu-btn {
    height: 100%;
    position: relative;
}

.menu-btn-bar {
    position: absolute;
    left: 0;
    display: block;
    width: 26px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
    transform-origin: left center;
    transition: .125s;
}

#mobile-nav-btn.is-active .menu-btn-bar {
    width: 30px;
}

.menu-btn-bar-top {
    top: 0;
}

#mobile-nav-btn.is-active .menu-btn-bar-top {
    transform: translateX(3px) rotate(45deg);
}

.menu-btn-bar-middle {
    transform-origin: center;
    top: 45%;
}

#mobile-nav-btn.is-active .menu-btn-bar-middle {
    transform: scaleX(0);
    top: 45%;
}

.menu-btn-bar-bottom {
    bottom: 0;
}

#mobile-nav-btn.is-active .menu-btn-bar-bottom {
    transform: translateX(3px) rotate(-45deg);
}


/*
* @page Content
*/

.page-content {
    margin-top: 50px;
}

@media (min-width: 992px) {
    .page-content {
        margin-top: 70px;
    }
}


/*
* @page Main page
*/

.hello-image {
    width: 100%;
}

.hello-image.main-image {
    display: none;
}

@media (min-width: 768px) {
    .hello-image.main-image-mobile {
        display: none;
    }
    .hello-image.main-image {
        display: block;
    }
}


/*
* @section Mobile Menu
*/

#mobile-menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background: black;
    z-index: 10000;
}

#mobile-menu .container {
    margin-top: 53px;
}

@media only screen and (min-width: 768px) {
    #mobile-menu {
        display: none;
    }
}


/*
* @subsection Mobile Logo
*/

.logo-container {
    padding: 10px 20px;
}

#mobile-menu img#logo {
    width: 100%;
}


/*
* @subsection Mobile Buttons
*/

.btn-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5px;
}

.btn-container .btn {
    display: inline-block;
    border: 1px solid #000;
    color: #000;
    font-weight: 400;
    font-style: italic;
    box-sizing: border-box;
    line-height: 27px;
    font-size: 14px;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    position: relative;
    color: #00b7ba;
}

.btn-container .btn.white {
    background-color: darkred;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    padding: 10px 15px;
    margin-bottom: 5px;
}


/*
* @section Mobile Navigation Links
*/

#mobile-links {
    text-align: center;
}

#mobile-links a {
    color: #999;
    font-size: 20px;
}

#mobile-links .primary a {
    color: white;
    font-size: 25px;
}

#mobile-links .sign-up a {
    font-size: 50px;
}

#mobile-links .sign-up a i {
    margin-right: 20px;
}

.nav-menu-mobile ul {
    padding: 5px;
}

.line-divider {
    border-top: 1px dashed #999;
    margin: 0 10px;
    border-collapse: collapse;
}

.hide {
    display: none;
}


/*
* @page All Movies
*/

#all-movies {
    margin-top: 80px;
}

@media (min-width: 992px) {
    #all-movies {
        margin-top: 100px;
    }
}

.movies-wrapper {
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 15px;
}

.movies-wrapper:after {
    content: " ";
    display: block;
    clear: both;
}


/*
* @section Movie Elements
*/

.movie-data {
    margin-bottom: 100px;
    padding: 0 1.25rem;
}

@media (min-width: 64em) {
    .movie-data {
        margin-bottom: 80px;
        padding: 0 1.5625rem;
    }
}


/*
* @subsection Movie Title
*/

.movies-wrapper .movies-title {
    margin: 0 0 20px 0;
    font-size: 1.8em;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    float: left;
}

.movies-wrapper hr {
    display: block;
    width: 100%;
}

.movies-wrapper .posters-container {
    padding: 2.5rem 0;
    margin-left: -20px;
    margin-right: -18px;
}


/*
* @subsection Movie Poster Image
*/

.movie-poster img {
    width: 100%;
    height: auto;
}


/*
* @subsection Movie Information
*/

.movies-wrapper .movie-information {
    padding: 2.5rem 0 .625rem;
    width: 100%;
    text-align: center;
}

.movies-wrapper .movie-information h3 {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: -.03em;
    margin: 0 auto;
}

@media (min-width: 64em) {
    .movies-wrapper .movie-information h3 {
        font-size: 24px;
    }
}

.movie-information p {
    padding: 10px 0;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto;
}

.movie-information p span {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

@media (min-width: 64em) {
    .movie-information p span {
        font-size: 14px;
    }
}


/*
* @subsection Movie Subscribe Button
*/

a.movie-info-button {
    display: inline-block;
    background-color: #e51937;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: #fff;
    border-radius: 38px;
    border: 2px solid transparent;
    text-align: center;
    vertical-align: middle;
    transition: all 150ms ease-in-out;
}

@media (min-width: 30em) {
    a.movie-info-button {
        padding: 10px 30px;
        font-size: 20px;
    }
}


/*
* @page Login Page
*/

#login-panel,
#register-panel {
    height: 100vh;
}

.login-wrapper {
    padding-top: 70px;
}

.register-wrapper {
    padding-top: 50px;
}

@media (min-width: 480px) {
    #login-panel,
    #register-panel {
        background: url("../images/signupBackground.jpg") no-repeat center;
        background-size: cover;
        background-position-y: 10px;
    }
    .login-wrapper {
        padding-top: 130px;
    }
    .register-wrapper {
        padding-top: 80px;
    }
}

#main-signin,
#main-signup {
    text-align: center;
    background: transparent;
    padding: 0;
}

.signin-wrapper,
.signup-wrapper {
    position: relative;
    z-index: 2000;
}

@media (min-width: 480px) {
    #main-signin,
    #main-signup {
        margin: auto;
        width: 455px;
    }
    .signin-wrapper,
    .signup-wrapper {
        background: rgba(255, 255, 255, 0.7);
        padding: 30px 40px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
    }
    .signin-wrapper {
        height: 365px;
    }
    .signup-wrapper {
        height: 425px;
    }
}

.logo_container {
    margin-top: 0px;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    height: 80px;
    background: url("../images/logo-black.png") no-repeat center;
    background-size: auto 100%;
}

@media (max-width: 480px) {
    .logo_container {
        height: 100px;
        background: url("../images/logo-mobile.png") no-repeat center;
        background-size: auto 100%;
        margin-bottom: 15px;
    }
}

#login-panel ul li,
#register-panel ul li {
    margin-top: 0px;
    margin-bottom: 5px;
    height: 65px;
}

#login-panel ul li:nth-last-child(2),
#register-panel ul li:nth-last-child(2) {
    margin-bottom: 15px;
}

#login-panel input,
#register-panel input {
    background: #fdfdfd;
    vertical-align: middle;
    padding: 8px 7px 5px;
    font-size: 16px;
    color: #333;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #c1c1c1;
}

#login-panel span.password-field {
    display: block;
    width: 211px;
    margin: 0 auto;
}

#login-panel .password-field input {
    margin: 0px;
    width: 170px;
    border-right: none;
}

@media (min-width: 480px) {
    #login-panel input,
    #register-panel input,
    #login-panel span.password-field {
        width: 100%;
    }
    #login-panel .password-field input {
        width: 334px;
    }
}

#login-panel .button,
#register-panel .button {
    margin-bottom: 0;
    margin-top: 10px;
}

#login-panel input.error,
#register-panel input.error {
    background: #fdfdfd;
    vertical-align: middle;
    border-radius: 2px;
    margin-top: 0;
    padding: 8px 7px 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #dd3737;
    font-size: 16px;
    color: #dd3737;
}

#login-panel span.error,
#register-panel span.error {
    font-size: 13px;
    line-height: 17px;
    color: #dd3737;
    font-weight: 700;
    height: 20px;
    display: block;
}

#login-panel .button .btn-primary,
#register-panel .button .btn-primary {
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    padding: 0 15px;
    line-height: 32px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    background-color: #287bbc;
    border-color: #1b5480;
    white-space: nowrap;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #73aec9), color-stop(5%, #73aec9), color-stop(5%, #338ab0), color-stop(100%, #0571a6));
    background-image: -webkit-linear-gradient(top, #287bbc 0%, #23639a 100%);
    margin-bottom: 10px;
}

@media (min-width: 480px) {
    #login-panel .button .btn-primary,
    #register-panel .button .btn-primary {
        width: 100%;
    }
}

@media (max-width: 480px) {
    #login-panel span.error-message,
    #register-panel span.error-message {
        display: block;
        padding-bottom: 3px;
    }
    #login-panel span.error-message.hide,
    #register-panel span.error-message.hide {
        display: none;
    }
}

#login-panel .form-password a.forgot-password-link {
    font-weight: bold;
    border: 1px solid #a7a7a7;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    border-radius: 0 3px 3px 0;
    color: #444;
    background-color: #f2f2f2;
    background-image: linear-gradient(top, #f2f2f2 0%, #e9e9e9 32%, #d8d8d8 74%, #d1d1d1 100%);
    float: right;
    border-left-width: 0;
    display: block;
    font-size: 16px;
    line-height: 38px;
    height: 39px;
    padding: 0 14px;
}

#login-panel .form-password a.forgot-password-link:hover {
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
    background-image: -moz-linear-gradient(top, #e8e8e8 0%, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
    background-image: -o-linear-gradient(top, #e8e8e8 0%, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
    background-image: linear-gradient(top, #e8e8e8 0%, #e3e3e3 13%, #d7d7d7 32%, #b9b9b9 71%, #a9a9a9 100%);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

#login-panel .button span,
#register-panel .button span {
    padding-top: 5px;
    display: inline-block;
    color: #ccc;
}

@media (min-width: 480px) {
    #login-panel .button span,
    #register-panel .button span {
        padding: 0;
        color: #333;
    }
}

#login-panel .button span a,
#register-panel .button span a {
    color: red;
    font-weight: 700;
    font-style: italic;
}

@media (min-width: 480px) {
    #login-panel .button span a,
    #register-panel .button span a {
        color: darkred;
    }
}


/*
* @page TV Show
*/

#main-show-wrapper {
    background: #000 url(../images/tvShowBackground.jpg) bottom left no-repeat;
    background-size: cover;
}

@media (min-width:992px) {
    #main-show-wrapper {
        display: none;
    }
}

#main-tvshow-container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 10px;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    /*font-family: Gotham, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    color: white;
}

@media (max-width: 600px) {
    #main-tvshow-container {
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    #main-tvshow-container {
        font-size: 13px;
    }
}

.fancy-header {
    padding-left: 15px;
    border-left: 5px solid darkred;
    line-height: 1;
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.poster-container,
.poster-container img {
    width: 100%;
    text-align: center;
}

.poster-container img {
    max-width: 340px;
}

#tvshow-details-container {
    padding: 15px 5px;
    font-size: 16px;
    color: #ccc;
    line-height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

#tvshow-details-container .show-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: white;
    border-bottom: 3px solid darkred;
}

#tvshow-details-container div {
    margin-top: 10px;
}

#tvshow-details-container div>span:first-child {
    font-weight: bold;
}

#tvshow-details-container div.year-and-duration p>span {
    margin-right: 15px;
    font-size: 19px;
}

#tvshow-details-container div.year-and-duration p>span a {
    color: red;
}

#tvshow-details-container div.year-and-duration .idbm-rating {
    border: 1px solid;
    padding: 0 5px;
    margin: 0 2px;
}


/*
* @page Single Tv Show
*/

#movie-desktop {
    background: lightgrey;
    margin-top: 53px;
    padding-bottom: 5px;
}

@media (min-width: 992px) {
    #movie-desktop {
        margin-top: 70px;
    }
}

#movie-background {
    background: radial-gradient(at 10% 30%, rgba(39, 74, 97, 0.9) 0%, rgba(197, 54, 26, 1) 100%), url(../images/moviesBackground.jpg) no-repeat top;
    filter: 90%;
    background-size: cover;
}

#movie-main-info {
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
}

@media (min-width: 1024px) {
    #movie-main-info {
        padding-top: 50px;
        padding-bottom: 60px;
    }
}

#movie-main-info a {
    color: white;
}

.info-container {
    position: relative;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .info-container {
        width: 700px;
    }
}

@media (min-width: 1024px) {
    .info-container {
        width: 1000px;
    }
}

.movie-details {
    min-height: 600px;
    text-align: center;
}

@media (min-width: 768px) {
    .movie-details {
        min-height: 355px;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .movie-details {
        min-height: 450px;
    }
}

section.movie-details div.poster {
    display: block;
    width: 300px;
    height: 450px;
    padding-top: 90px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    section.movie-details div.poster {
        width: 225px;
        height: auto;
        float: left;
        position: absolute;
        left: 0;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 1024px) {
    section.movie-details div.poster {
        width: 300px;
        height: 450px;
    }
}

section.movie-details div.poster img {
    width: 100%;
}

section.movie-details .main-info {
    margin: 0 auto;
    margin-top: -470px;
    width: 300px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    section.movie-details .main-info {
        position: relative;
        margin: 0;
        top: 0;
        left: 0;
        width: 450px;
        float: right;
        display: inline-block;
    }
}

@media (min-width: 1024px) {
    section.movie-details .main-info {
        width: 650px;
    }
}

section.movie-details .main-info .title {
    margin-bottom: 5px;
}

@media (min-width: 1024px) {
    section.movie-details .main-info .title {
        margin-bottom: 28px;
    }
}

section.movie-details .main-info .title h2 {
    font-size: 2.1em;
    font-weight: 700;
    display: inline;
}

@media (min-width: 1024px) {
    section.movie-details .main-info .title h2 {
        font-size: 2.4em;
    }
}

section.movie-details .main-info .title h2 span {
    opacity: 0.6;
    font-size: 0.6em;
    font-weight: 400;
}

@media (max-width: 768px) {
    section.movie-details .main-info .title h2 span {
        display: block;
    }
    section.movie-details .main-info .title h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    section.movie-details .main-info .title h2 span {
        font-size: 0.8em;
    }
}


/*
* @subsection Tv Show Navigation
*/

section.movie-details .main-info ul.actions {
    margin-bottom: 10px;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media (min-width: 1024px) {
    section.movie-details .main-info ul.actions {
        margin-bottom: 30px;
        height: 68px;
    }
}

section.movie-details .main-info ul.actions li {
    margin-right: 15px;
}

@media (min-width: 1024px) {
    section.movie-details .main-info ul.actions li {
        margin-right: 20px;
    }
}

section.movie-details .main-info ul.actions li.chart div.text {
    font-size: 15px;
    line-height: 17px;
}

@media (min-width: 1024px) {
    section.movie-details .main-info ul.actions li.chart div.text {
        font-size: 20px;
        line-height: 25px;
    }
}

section.movie-details .main-info ul.actions li.round-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    overflow: hidden;
    background: #536878;
    box-shadow: 0 0 3px gray;
}

section.movie-details .main-info ul.actions li.round-button.active,
section.movie-details .main-info ul.actions li.round-button.favorite,
section.movie-details .main-info ul.actions li.round-button.watched {
    background: crimson;
}

section.movie-details .main-info ul.actions li.round-button.active:hover,
section.movie-details .main-info ul.actions li.round-button.favorite:hover,
section.movie-details .main-info ul.actions li.round-button.watched:hover {
    background: darkred;
}

@media (min-width: 1024px) {
    section.movie-details .main-info ul.actions li.round-button {
        width: 45px;
        height: 45px;
    }
}

section.movie-details .main-info ul.actions li.round-button:hover {
    background: #344152;
}

section.movie-details .main-info ul.actions li.round-button a {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    font-size: 15px;
}

@media (min-width: 1024px) {
    section.movie-details .main-info ul.actions li.round-button a {
        padding-top: 9px;
        font-size: 23px;
    }
}

section.movie-details .main-info .movie-overview {
    margin-top: 465px;
    text-align: left;
}

@media (min-width: 768px) {
    section.movie-details .main-info .movie-overview {
        margin: 0;
        text-align: left;
    }
}

section.movie-details .main-info .movie-overview h3 {
    font-weight: 600;
    line-height: 1.3em;
    font-size: 1.3em;
    margin-bottom: 5px;
    margin-top: 0px;
}

@media (min-width: 1024px) {
    section.movie-details .main-info .movie-overview h3 {
        margin-bottom: 8px;
    }
}

section.movie-details .main-info .movie-plot p {
    font-size: 0.9em;
    line-height: 1.2em;
}

@media (min-width: 1024px) {
    section.movie-details .main-info .movie-plot p {
        font-size: 1em;
        line-height: 1.4em;
    }
}

section.movie-details .main-info .movie-actions {
    border-top: 1px solid rgba(100.00%, 100.00%, 100.00%, 0.30);
    margin-top: 13px;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}


/*
* @subsection Cast
*/

section.movie-cast {
    padding-top: 0;
    text-align: center;
}

@media (min-width: 1024px) {
    section.movie-cast {
        padding-top: 40px;
    }
}

section.movie-cast h3 {
    font-weight: 600;
    line-height: 1.3em;
    font-size: 1.3em;
    margin-bottom: 8px;
    margin-top: 0;
    border-bottom: 1.5px solid rgba(100.00%, 100.00%, 100.00%, 0.30);
}

@media (min-width: 768px) {
    section.movie-cast h3 {
        text-align: left;
    }
}

section.movie-cast .actors {
    margin-top: 10px;
    display: inline-block;
    width: 250px;
}

@media (min-width: 768px) {
    section.movie-cast .actors {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        width: auto;
    }
}

@media (min-width: 1024px) {
    section.movie-cast .actors {
        margin-top: 30px;
    }
}

section.movie-cast .actors li {
    height: auto;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

section.movie-cast .actors li>a {
    width: 136px;
    height: auto;
    margin-bottom: 10px;
}

@media (min-width: 1024px) {
    section.movie-cast .actors li>a {
        height: 136px;
        display: inline-block;
        margin-bottom: 20px;
    }
}

section.movie-cast .actors li img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px solid white;
}

@media (min-width: 768px) {
    section.movie-cast .actors li img {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 1024px) {
    section.movie-cast .actors li img {
        width: 132px;
        height: 132px;
    }
}

section.movie-cast .actors li p {
    font-size: 0.8em;
    line-height: 1.4em;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 1024px) {
    section.movie-cast .actors li p {
        font-size: 1em;
    }
}

section.movie-cast .actors li p a {
    font-weight: bold;
}

section.movie-cast .actors li p.character {
    font-size: 0.6em;
}

@media (min-width: 1024px) {
    section.movie-cast .actors li p.character {
        font-size: 0.9em;
    }
}


/* section Seasons */

.movie-seasons {
    margin: 60px 0;
    background: linear-gradient(to bottom left, rgba(197, 54, 26, 0.9), rgba(39, 74, 97, 1));
    height: auto;
    padding-bottom: 25px;
    color: white;
    text-align: center;
}

@media (min-width: 768px) {
    .movie-seasons {
        height: 270px;
        padding-bottom: 60px;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .movie-seasons {
        height: 390px;
    }
}

.movie-seasons .seasons-information {
    width: auto;
    padding-top: 30px;
}

@media (min-width: 768px) {
    .movie-seasons .seasons-information {
        width: 700px;
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .movie-seasons .seasons-information {
        width: 1000px;
        padding-top: 50px;
    }
}

.movie-seasons .season-details {
    min-height: 220px;
}

@media (min-width: 768px) {
    .movie-seasons .season-details {
        height: 220px;
        position: relative;
        top: 0;
        left: 0;
    }
}

@media (min-width: 1024px) {
    .movie-seasons .season-details {
        height: 280px;
    }
}

.movie-seasons .season-details img {
    width: 300px;
    height: 450px;
    margin: 0 auto;
    margin-top: 100px;
}

@media (min-width: 768px) {
    .movie-seasons .season-details img {
        position: relative;
        width: 225px;
        height: auto;
        top: -65px;
        left: 0;
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .movie-seasons .season-details img {
        top: -80px;
        width: 300px;
    }
}

.movie-seasons div.details {
    width: 300px;
    margin: 0 auto;
    margin-top: -565px;
    text-align: center;
}

@media (min-width: 768px) {
    .movie-seasons div.details {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 250px;
        width: 450px;
        height: 100%;
        box-sizing: border-box;
        margin: 0;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .movie-seasons div.details {
        left: 350px;
        width: 650px;
    }
}

.movie-seasons div.details h3 {
    display: inline-block;
    font-weight: 600;
    line-height: 1.3em;
    font-size: 1.3em;
    margin-bottom: 8px;
}

.movie-seasons div.details div.seasons-list {
    border-bottom: 2px solid lightgray;
}

@media (min-width: 768px) {
    .movie-seasons div.details div.seasons-list {
        border: none;
    }
}

.movie-seasons div.details div.seasons-list ul {
    width: auto;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (min-width: 768px) {
    .movie-seasons div.details div.seasons-list ul {
        float: right;
        max-width: 400px;
        justify-content: flex-end;
    }
}

.movie-seasons div.details div.seasons-list ul li {
    font-size: 0.9em;
    line-height: 1em;
}

@media (min-width: 768px) {
    .movie-seasons div.details div.seasons-list ul li {
        padding-left: 20px;
        font-size: 1.3em;
        line-height: 1.3em;
    }
}

.movie-seasons div.details h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: 700;
}

@media (min-width: 768px) {
    .movie-seasons div.details h2 {
        margin-top: 10px;
    }
}

@media (min-width: 1024px) {
    .movie-seasons div.details h2 {
        font-size: 1.8em;
    }
}

.movie-seasons div.details h4 {
    font-size: 0.9em;
    font-weight: 600;
}

@media (min-width: 768px) {
    .movie-seasons div.details h4 {
        margin-bottom: 10px;
    }
}

@media (min-width: 1024px) {
    .movie-seasons div.details h4 {
        font-size: 1.1em;
    }
}

.movie-seasons div.details div.season_overview {
    margin-top: 480px;
    text-align: left;
    overflow: hidden;
}

@media (min-width: 768px) {
    .movie-seasons div.details div.season_overview {
        max-height: 100px;
        margin: 0;
    }
}

.movie-seasons div.details div.season_overview p {
    font-size: 0.9em;
    line-height: 1.2em;
    margin: 0;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 1024px) {
    .movie-seasons div.details div.season_overview p {
        font-size: 1em;
        line-height: 1.3em;
    }
}

.movie-seasons div.details p.button {
    margin-top: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
}

@media (min-width: 1024px) {
    .movie-seasons div.details p.button {
        margin-top: 30px;
    }
}

.movie-seasons div.details p.button a {
    border: 2px solid #fff;
    border-radius: 5px;
    transition: linear .1s;
    background-color: white;
    border-color: white;
    color: #302621;
    font-weight: 600;
    padding: 6px 10px;
    font-size: 13px;
}

@media (min-width: 1024px) {
    .movie-seasons div.details p.button a {
        padding: 8px 16px;
    }
}

.movie-seasons div.details p.button a:hover {
    background-color: #302621 !important;
    border-color: #302621 !important;
    color: #ffffff !important;
}


/*
* @section TV Show Episodes
*/

.movie-episodes {
    margin: 15px auto;
}

.title-episode-wrapper,
.title-episode:focus {
    position: relative;
    margin-bottom: 8px;
}

.title-episode {
    margin: 40px 0 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 25px;
}

.title-episode-gradient {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(5%, rgba(0, 0, 0, .8)), color-stop(95%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, .8) 5%, rgba(0, 0, 0, 0) 95%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .8) 5%, rgba(0, 0, 0, 0) 95%);
    height: 55px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.title-episode-number {
    position: absolute;
    bottom: 2%;
    left: 2%;
    font-weight: 500;
    font-size: 40px;
    color: #fff;
}

.title-episode-img {
    width: 100%;
}

.title-episode-name {
    font-weight: 700;
    color: #fff;
    max-width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 0 1px;
    float: left;
    font-size: 15px;
}

@media (min-width: 768px) {
    .title-episode-name {
        font-size: 22px;
        max-width: 210px;
    }
}

.title-episode-raiting {
    color: darkred;
    float: right;
    font-size: 12px;
    font-style: italic;
}

@media (min-width: 768px) {
    .title-episode-raiting {
        font-size: 16px;
    }
}

.title-episode-raiting:hover {
    color: firebrick;
}

.title-episode-runtime {
    color: #00b7ba;
    float: right;
    font-size: 12px;
    font-style: italic;
    padding-left: 10px;
}

@media (min-width: 768px) {
    .title-episode-runtime {
        font-size: 16px;
    }
}

.title-episode-synopsis {
    color: #b3b3b3;
    clear: both;
    font-size: 13px;
    line-height: 20px;
    padding-top: 10px;
    height: 110px;
}

@media (min-width: 768px) {
    .title-episode-synopsis {
        font-size: 16px;
    }
}


/*
* @subsection Trailer
*/

.trailer-video-container {
    padding-top: 80px;
    background: url(https://theamazingworldofpsychiatry.files.wordpress.com/2010/09/istock_000009307982large.jpg);
    background-size: cover;
    min-height: 250px;
}

@media (min-width: 992px) {
    .trailer-video-container {
        min-height: 600px;
    }
}

.trailer-video-container .videoWrapper {
    position: relative;
    padding-bottom: 5vw;
}

@media (min-width: 992px) {
    .trailer-video-container .videoWrapper {
        padding-top: 25px;
        padding-bottom: 38vw;
        height: 0;
    }
}

.trailer-video-container .videoWrapper iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 56.25vw;
    max-width: 340px;
    max-height: 191.25px;
}

@media (min-width: 992px) {
    .trailer-video-container .videoWrapper iframe {
        max-width: 800px;
        max-height: 450px;
    }
}


/*
* @page High Scores Page
*/


/*
* @section Top Three
*/

.high-scores-container {
    background: url(http://www.anawalls.com/images/textures/texture-blue-stripes-dark.jpg);
    background-size: cover;
    display: inline-block;
    width: 100%;
    padding-bottom: 25px;
}

.top-three-wrapper {
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 15px;
}

.shows-top-three-title {
    text-align: center;
    font-size: 5.5vw;
    color: white;
    line-height: 6vw;
    padding-top: 10px;
    font-weight: bolder;
}


/*
* @subsection Rating Places
*/

.show-places {
    margin: 0;
    text-align: center;
}

@media (min-width: 640px) and (max-width: 992px) {
    .show-places {
        display: inline-block;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .show-places {
        width: 25%;
        float: left;
    }
}

.show-places ol {
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
}

@media (min-width: 640px) and (max-width: 992px) {
    .show-places ol {
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
}

.show-places>img {
    height: 100px;
    margin: 0 auto;
    margin-top: 25px;
}

.show-place {
    background: radial-gradient(at 50% 20%, rgba(89, 10, 194, 0.4) 0%, rgba(175, 13, 48, 0.2) 100%), url("../images/rankingPlaceBackground.jpg");
    background-size: cover;
    height: 30vw;
    border-radius: 10px;
    margin: 10px;
    display: list-item;
    width: auto;
}

@media (min-width: 640px) and (max-width: 992px) {
    .show-place {
        margin: 0;
        width: 33%;
        display: inline-block;
    }
}

@media (min-width: 640px) {
    .show-place {
        height: 7.2vw;
    }
}

.show-place .show-place-info .show-place-logo {
    margin: 0 auto;
    padding-top: 5px;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 640px) {
    .show-place .show-place-info .show-place-logo {
        height: 4vw;
    }
}

.show-place .show-place-info img {
    max-width: 95%;
    max-height: 100%;
}

.show-place>img:first-child {
    height: auto;
    max-width: 18%;
    max-height: 40px;
    margin: 2px 6px;
    max-height: 90%;
    float: left;
}

.show-place .show-place-info {
    margin-left: 22%;
}

.show-place .show-air-date {
    padding-top: 3px;
}

.show-place .show-air-date span {
    display: block;
    margin-right: 10px;
    border-top: 2px solid rgba(100.00%, 100.00%, 100.00%, 0.30);
    font-size: 7vw;
    color: lightgray;
    font-style: italic;
}

@media (min-width: 640px) {
    .show-place .show-air-date span {
        font-size: 1.6vw;
    }
}


/*
* @subsection TV-Show on focus
*/

.focus-movie {
    height: auto;
    margin: 10px;
    min-height: 360px;
    background: url(https://i.ytimg.com/vi/pVNbWKa6qbg/maxresdefault.jpg);
    background-size: cover;
    border-radius: 10px;
    color: white;
    padding-bottom: 10px;
}

@media (min-width: 640px) and (max-width: 992px) {
    .focus-movie {
        width: 100%;
        margin: 10px auto;
        display: inline-block;
        min-height: auto;
        padding-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .focus-movie {
        margin: 10px auto;
        float: left;
        width: 75%;
        padding-bottom: 20px;
    }
}


/* Poster */

.focus-details div.poster {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    display: block;
}

@media (min-width: 640px) {
    .focus-details div.poster {
        width: 30%;
        float: left;
        position: relative;
        left: 20px;
        top: 20px;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
    }
}

.focus-details div.poster img {
    width: 100%;
}


/* Main info */

.focus-details .main-info {
    margin: 0 10px;
    display: inline-block;
    text-align: center;
}

@media (min-width: 640px) {
    .focus-details .main-info {
        position: relative;
        margin: 0;
        top: 20px;
        left: 0;
        width: 62%;
        margin-right: 20px;
        float: right;
        text-align: left;
    }
}

.focus-details .main-info .title {
    margin-bottom: 5px;
    border-bottom: 1.5px solid rgba(100.00%, 100.00%, 100.00%, 0.30);
}

.focus-details .main-info .title h2 {
    font-size: 2.4em;
    font-weight: 700;
    display: inline;
}

.focus-details .main-info .title h2 a {
    color: white;
    text-decoration: none;
}

.focus-details .main-info p {
    font-size: 1.54vw;
    line-height: 1.2em;
    color: #D3D3D3;
    height: auto;
    text-align: left;
}

@media (max-width: 639px) {
    .focus-details .main-info p {
        font-size: 0.8em;
        line-height: 1.1em;
        min-height: 100px;
    }
}

@media (min-width: 992px) {
    .focus-details .main-info p {
        font-size: 1.17vw;
        min-height: 130px;
    }
}


/* Tv Show Score */

.focus-details .movie-score-container {
    margin-top: 15px;
    float: right;
}

@media (max-width: 639px) {
    .focus-details .movie-score-container {
        width: 70%;
        float: left;
    }
}

.focus-details .movie-score-container .movie-score-info {
    margin-bottom: 8px;
    margin-top: 0;
    border-bottom: 1.5px solid rgba(100.00%, 100.00%, 100.00%, 0.30);
}

@media (max-width: 639px) {
    .focus-details .movie-score-container .movie-score-info {
        margin-right: 5px;
        font-size: 4.5vw;
    }
}

.focus-details .movie-score-container .movie-score-info h3,
.focus-details .movie-score-container .movie-score-info span.movie-score-points,
.focus-details .movie-score-container .movie-score-info span.movie-score-max {
    font-weight: 600;
    line-height: 1.3em;
    font-size: 1em;
    display: inline;
}

@media (min-width: 640px) {
    .focus-details .movie-score-container .movie-score-info h3,
    .focus-details .movie-score-container .movie-score-info span.movie-score-points,
    .focus-details .movie-score-container .movie-score-info span.movie-score-max {
        font-size: 1.5em;
    }
}

@media (min-width: 992px) {
    .focus-details .movie-score-container .movie-score-info h3,
    .focus-details .movie-score-container .movie-score-info span.movie-score-points,
    .focus-details .movie-score-container .movie-score-info span.movie-score-max {
        font-size: 2em;
    }
}

.focus-details .movie-score-container .movie-score-info span.movie-score-points {
    color: lightseagreen;
}

@media (min-width: 640px) {
    .focus-details .movie-score-container .movie-score-info span.movie-score-points {
        padding-left: 20px;
    }
}

.focus-details .movie-score-container .movie-score-info span.movie-score-max {
    color: red;
}

.focus-details .movie-score-container .btn-container {
    width: 63%;
    margin: 0 auto;
    padding-bottom: 5px;
}

.focus-details .movie-score-container .btn-container a {
    display: inline-block;
    border-radius: 8px;
    background-color: crimson;
    padding: 6px 20px;
    font-size: 18px;
    letter-spacing: -0.04em;
    color: #fff;
    border: 2px solid transparent;
    text-align: center;
    vertical-align: middle;
    transition: all 150ms ease-in-out;
}

@media (min-width: 992px) {
    .focus-details .movie-score-container .btn-container a {
        padding: 10px 30px;
    }
}

@media (max-width: 639px) {
    .focus-details .movie-score-container .btn-container a {
        font-size: 3vw;
    }
}

.focus-details .movie-score-medal {
    float: right;
    width: 27%;
}


/* Score medal */

@media (min-width: 640px) {
    .focus-details .movie-score-medal {
        margin: 0 30px;
    }
}

.focus-details .movie-score-medal img {
    width: 100%;
    height: auto;
}


/*
* @section Next three in the ranking
*/

.next-three-shows {
    padding-top: 25px;
    padding-bottom: 50px;
}

.next-three-title {
    font-size: 45px;
    line-height: 42px;
    font-weight: 700;
    color: white;
}

.more-shows-row {
    margin-top: 70px;
}

.more-shows-row img {
    width: 75%;
    height: auto;
    display: block;
    margin: 0px auto;
}

.more-shows-row time,
.newest-four time {
    margin-top: 15px;
    color: rgb(247, 58, 76);
    display: block;
}

.more-shows-row h5.show-title {
    margin-top: 10px;
    font-size: 24px;
    line-height: 1.2;
}

.more-shows-row .show-stars {
    display: flex;
    justify-content: space-around;
    color: gold;
    margin-bottom: 35px;
}

.more-shows-row h5.show-title a {
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.more-shows-row p.show-plot {
    line-height: 1.375;
    font-size: 16px;
    font-weight: 300;
    color: rgb(177, 182, 184);
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin: 0px 0px 20px;
    overflow: hidden;
}


/*
* @section More shows
*/

.shows-other {
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(rgba(247, 58, 76, 0.8), rgba(247, 58, 76, 0.8)) 0% 0% / cover, url(https://s-media-cache-ak0.pinimg.com/originals/15/a7/ac/15a7ac39b1f549372563a48572e428e1.jpg) center top no-repeat;
}

.shows-other .more-shows-row {
    margin-top: 40px;
    margin-bottom: 30px;
}


/*
* @page Newest TV-Shows
*/

.newest-four {
    background: #1f2324;
}

.newest-four .newest-title,
.schedule-title {
    font-size: 35px;
    line-height: 30px;
    font-weight: 700;
    color: white;
}

@media (min-width: 992px) {
    .newest-four .newest-title,
    .schedule-title {
        font-size: 42px;
    }
}

@media (min-width: 1200px) {
    .newest-four .newest-title,
    .schedule-title {
        font-size: 60px;
        line-height: 53px;
    }
}

.newest-four .newest-four-container {
    margin-top: 50px;
}

.newest-four .show-poster img {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.newest-four .show-numbers {
    position: relative;
    bottom: 20px;
    text-align: center;
    margin: 0 auto;
}

.newest-four .show-numbers:before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    top: -60px;
    z-index: 0;
    -webkit-box-shadow: inset 0px -58px 21px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 0px -58px 21px 0px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px -58px 21px 0px rgba(0, 0, 0, 0.7);
}

.newest-four .newest-four-single {
    margin-bottom: 45px;
}

.newest-four h5.show-title {
    font-size: 24px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.2;
}

@media (min-width: 768px) {
    .newest-four h5.show-title {
        margin-top: 0;
    }
}

.newest-four p.show-plot {
    line-height: 1.375;
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
    color: #b1b6b8;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    margin: 0px 0px 20px;
    overflow: hidden;
}

.newest-four .btn {
    display: block;
    text-align: center;
    font-weight: 300;
    border-radius: 42px;
    text-transform: uppercase;
    cursor: pointer;
    width: 190px;
    min-width: 190px;
    background: #f73a4c;
    border-color: #f73a4c;
    border-style: solid;
    color: white;
    font-size: 13px;
    line-height: 1;
    /*padding: 13px 0px;*/
    padding: 25px 0px;
    margin: 5px auto;
    border-width: 1px;
}

.newest-four ul.show-stars {
    margin: 10px auto;
    text-align: center;
}

.newest-four ul.show-stars li {
    display: inline-block;
    word-spacing: normal;
    color: gold;
}


/*
* @page Schedule
*/

.schedule-title {
    color: ghostwhite;
    font-weight: 900;
    margin-bottom: 30px;
}

.schedule {
    background: linear-gradient(rgba(10, 8, 6, 0.5), rgba(0, 8, 6, 0.2)) 0% 0% / cover, url(http://wallpaper-gallery.net/images/grey-and-red-wallpaper/grey-and-red-wallpaper-3.jpg);
    background-size: cover;
    background-blend-mode: hard-light;
    padding: 30px 0;
}

.schedule .seven-cols {
    text-align: center;
    margin: 20px auto;
}

.seven-cols .col-lg-1 {
    display: inline-block;
    padding: 1px;
    float: none;
    text-align: center;
    background: black;
    margin-top: 10px;
    outline: 3px dashed grey;
}

@media (max-width: 360px) {
    .seven-cols .col-lg-1 {
        min-height: 200px;
        width: 85%;
        margin: 0 auto;
        margin-top: 15px;
    }
}

@media (min-width: 361px) and (max-width: 767px) {
    .seven-cols .col-lg-1 {
        width: 130px;
        height: 200px;
        margin: 2px;
        margin-top: 10px;
    }
}

.seven-cols .col-lg-1.even {
    outline-width: 2px;
    outline-color: darkgrey;
}

@media (min-width: 768px) {
    .seven-cols .col-lg-1 {
        width: 13.2%;
        min-height: 220px;
        margin: 0.5px;
        outline-width: 4px;
    }
    .seven-cols .col-lg-1.even {
        outline-width: 3px;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-lg-1 {
        width: 13.4%;
        min-height: 280px;
        margin: 2px;
        outline-width: 6px;
    }
    .seven-cols .col-lg-1.even {
        outline-width: 5px;
    }
}

@media (min-width: 1200px) {
    .seven-cols .col-lg-1 {
        width: 13.5%;
        min-height: 350px;
        margin: 2px;
        outline-width: 6px;
    }
    .seven-cols .col-lg-1.even {
        outline-width: 5px;
    }
    .schedule-title {
        padding-top: 25px;
        padding-bottom: 30px;
    }
}

img {
    max-width: 100%;
}

.schedule .day-name h3 {
    font-size: 19px;
    margin: 0;
    margin-top: 10px;
    padding-bottom: 5px;
    color: white;
    border-bottom: 2px solid dimgrey;
}

.schedule .day-name time {
    padding: 3px;
    color: rgb(247, 58, 76);
    font-style: italic;
    font-size: 15px;
    display: block;
    border-bottom: 2px solid dimgrey;
}

@media (min-width: 1200px) {
    .schedule .day-name h3 {
        font-size: 24px;
        font-weight: bold;
    }
}

.dayly-show a {
    display: inherit;
}

.dayly-show img {
    display: inherit;
    padding: 5px;
    padding-top: 7px;
    max-height: 60px;
    margin: 0 auto;
}

max-height: 60px;
margin: 0 auto;

}